doctype html
html(lang="de")

    include includes/head.jade

    body.index(class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}")
        
        include includes/nav.jade
        
        .head
            img(src="{{ site.img_dir }}/michele-dekker-logo.png", alt="michèle dekker logo")                
        
        {{ content }}
        
        include includes/footer.jade
        
    // body end
// html end
