{% for item in pages_list %}
    {% if group == null or item.group contains group %}
        <li>
            <a href="{% if item.is-parent %}#{% else %}{{item.url  | remove: '/index.html' | prepend: base }}{% endif %}" {% if page.url == item.url  or item.is-parent %}class="{% if page.url == item.url %}active{% endif %} {% if item.is-parent %}is-parent{% endif %}"{% endif %} {% if item.is-parent %}id="{{ item.page-id }}"{% endif %}>{{item.title}}</a>
                {% if item.is-parent %}
                    <ul class="children">
                        {% assign level-2 = site.portfolio | where: "parent-id", item.page-id | sort: "number" %}
                        {% for child in level-2 %}
                            <li class="child">
                                <a href="{{child.url  | remove: '/index.html' | prepend: base }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}  
        </li>
    {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}