nav.open
    .menu
        .left
            a(href="{{ base }}/", class="homelink")
                span Home
            .responsive
                span.toggle
                    i.fa.fa-close
                {% assign pages_list = site.pages | sort:"group" %}
                {% assign group = 'navigation' %}
                include menu_content.html
            // .responsive end
        .center
            span.toggle
                | Menu
        .right
            span social media icons?
    // .menu end
// nav end
