nav.open
    .menu
        .left
            span.toggle.menu-toggle
                | Menu
            ul.responsive
                li
                    span.toggle
                        i.fa.fa-close
                li        
                    a(href="{{ base }}/", class="homelink {% if page.title == 'Home' %}active{% endif %}")
                        span Home
                {% assign pages_list = site.pages | sort:"group" %}
                {% assign group = 'navigation' %}
                include menu_content.html
            // .responsive end
        //- .center
        //- .right
            span social media icons?
    // .menu end
// nav end
