doctype html
html(lang="{{page.lang}}")

    include includes/head.pug

    body.page.post(class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %} {{ page.lang | prepend: 'lang-' }}")
    
        include includes/nav.pug
        
        include includes/header.pug

        .wrapper
            section.main_container
                .container
                    article
                    
                        .title
                            h1 {{ page.title }}
                            | {% if page.subtitle %}
                            h2.subtitle {{ page.subtitle }}
                            | {% endif %}
                            
                        .meta
                            span.date {% include date.html %}
                                
                        .content {{ content }}
                            | {% include gallery_basic.html %}

                        include includes/disqus.html
                        
                        include includes/post_navigator.html

                    // article end
                // .container end
            // section end
        // .wrapper end
        
        include includes/footer.pug

    // body end
// html end
