// FONT-FACE STUFF HERE
//-----------------------

// Gudea
//-------

// regular
@font-face {
    font-family: 'Gudea';
    $weight: 'regular';
    $path-part: 'gudea-#{$weight}-webfont';
    src: url('../fonts/#{$path-part}.eot');
    src: url('../fonts/#{$path-part}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$path-part}.woff') format('woff'),
         url('../fonts/#{$path-part}.ttf') format('truetype'),
         url('../fonts/#{$path-part}.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

// italic
@font-face {
    font-family: 'Gudea';
    $weight: 'italic';
    $path-part: 'gudea-#{$weight}-webfont';
    src: url('../fonts/#{$path-part}.eot');
    src: url('../fonts/#{$path-part}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$path-part}.woff') format('woff'),
         url('../fonts/#{$path-part}.ttf') format('truetype'),
         url('../fonts/#{$path-part}.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

// bold
@font-face {
    font-family: 'Gudea';
    $weight: 'bold';
    $path-part: 'gudea-#{$weight}-webfont';
    src: url('../fonts/#{$path-part}.eot');
    src: url('../fonts/#{$path-part}.eot?#iefix') format('embedded-opentype'),
         url('../fonts/#{$path-part}.woff') format('woff'),
         url('../fonts/#{$path-part}.ttf') format('truetype'),
         url('../fonts/#{$path-part}.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}