<!DOCTYPE html>
<html lang="de">
  {% if site.baseurl != '' or null %}
  {% assign base = site.baseurl %}
  {% else %}
  {% assign base = '' %}
  {% endif %}
  <head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Michèle Dekker">
    <link rel="stylesheet" href="{{ base }}/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url | append: base }}/feed.xml">
  </head>
  <!-- head end-->
  <body class="index {% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">
    <nav class="open">
      <div class="menu">
        <div class="left"><span class="toggle menu-toggle">Menu</span>
          <ul class="responsive">
            <li><span class="toggle"><i class="fa fa-close"></i></span></li>
            <li>       <a class="homelink {% if page.title == 'Home' %}active{% endif %}" href="{{ base }}/"><span>Home</span></a></li>{% assign pages_list = site.pages | sort:"group" %}
            {% assign group = 'navigation' %}{% for item in pages_list %}
    {% if group == null or item.group contains group %}
        <li>
            <a href="{% if item.is-parent %}#{% else %}{{item.url  | remove: '/index.html' | prepend: base }}{% endif %}" {% if page.url == item.url  or item.is-parent %}class="{% if page.url == item.url %}active{% endif %} {% if item.is-parent %}is-parent{% endif %}"{% endif %} {% if item.is-parent %}id="{{ item.page-id }}"{% endif %}>{{item.title}}</a>
                {% if item.is-parent %}
                    <ul class="children">
                        {% assign level-2 = site.portfolio | where: "parent-id", item.page-id | sort: "number" %}
                        {% for child in level-2 %}
                            <li class="child">
                                <a href="{{child.url  | remove: '/index.html' | prepend: base }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}  
        </li>
    {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
          </ul>
          <!-- .responsive end-->
        </div>
      </div>
      <!-- .menu end-->
    </nav>
    <!-- nav end-->
    <div class="image-wrapper"><img src="{{ site.img_dir }}/slider/placeholder.jpg">{{ content }}<span class="logo"><img src="{{ site.img_dir }}/logo_weiss.png" alt="michèle dekker logo"></span></div>
    <footer>
      <div class="foot">
        <div class="container">
          <div class="left"><span class="copyright"><i class="fa fa-copyright"></i> {{ site.name }}</span>&nbsp;&middot;&nbsp;<span class="copyright">Webdesign and <i class="fa fa-code"></i> by <a href="http://halfapx.com">&frac12; a px&period;</a></span>&nbsp;&middot;&nbsp;<span class="year">2017</span></div>
          <div class="right"><a href="{{ site.facebook }}"><i class="fa fa-facebook"></i></a>&nbsp;<a href="{{ site.instagram }}"><i class="fa fa-instagram"></i></a>{% if page.layout == "post" %}
            &nbsp;<span class="backtotop">back to top</span>{% endif %}
          </div>
        </div>
        <!-- .container end-->
      </div>
      <!-- .foot end-->
    </footer>
    <!-- footer end-->
    <script src="{{ base }}/js/build/main.min.js"></script><!-- add google analytics or other tracking code here -->
  </body>
  <!-- body end-->
</html>
<!-- html end-->