<!DOCTYPE html>
<html lang="{{page.lang}}">
  {% if site.baseurl != '' or null %}
  {% assign base = site.baseurl %}
  {% else %}
  {% assign base = '' %}
  {% endif %}
  <head>
    <meta charset="UTF-8">
    <title>{{ site.name }}{% if page.title %} - {{ page.title }} {% endif%}</title>{% if page.description %}
    <meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Myriam Frisano">
    <link rel="stylesheet" href="{{ base }}/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url | append: base }}/feed.xml">
  </head>
  <!-- head end-->
  <body class="page theme {% if page.bodyclass %}{{ page.bodyclass }}{% endif %} {{ page.lang | prepend: 'lang-' }}">
    <nav class="open">
      <div class="menu">
        <div class="left">{% if page.lang == "de" %}<a href="{{ base }}/" class="homelink"><span>Logo here</span></a>{% else %}<a href="{{ base }}/en" class="homelink"><span>Logo here</span></a>{% endif %}
          <div class="responsive"><span class="toggle"><i class="fa fa-close"></i></span>{% assign pages_list = site.pages | sort:"group" | where:"lang", page.lang %}
            {% assign group = 'navigation' %}{% for item in pages_list %}
  {% if group == null or item.group contains group %}
    {% if page.url == item.url %}
      <a href="{{item.url  | remove: '/index.html' | prepend: base }}" class="active">{{item.title}}</a>
    {% else %}
      <a href="{{item.url  | remove: '/index.html' | prepend: base }}">{{item.title}}</a>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}

          </div>
          <!-- .responsive end-->
        </div>
        <div class="center"><span class="toggle">Menu</span></div>
        <div class="right">{% assign pages = site.pages | where:"id", page.id | sort: 'path' %}
{% for page in pages %}
    <a href="{{ page.url | replace: 'index.html', '' | prepend: base }}" class="{{ page.lang }}">
        {{ page.lang }}
    </a>
{% endfor %}

{% assign portfolio = site.portfolio | where:"id", page.id | sort: 'path' %}
{% for item in portfolio %}
    <a href="{{ item.url | replace: 'index.html', '' | prepend: base }}" class="{{ item.lang }}">
        {{ item.lang }}
    </a>
{% endfor %}       

{% assign posts = site.posts | where:"name", page.name %}
{% for post in posts %}
    <a href="{{ post.url | replace: 'index.html', '' | prepend: base }}" class="{{  post.lang }}">
        {{ post.lang }}
    </a>
{% endfor %}
        </div>
      </div>
      <!-- .menu end-->
    </nav>
    <!-- nav end-->
    <header class="header">
      <div class="container"><img src="{{ site.img_dir }}/{{ page.theme-img}}">{% if page.title %}
        <h1>
          <b>{{ page.title }}</b>
          {% if page.subtitle%}
          <span class="subtitle">{{ page.subtitle }}</span>
          {% endif %}
        </h1>{% endif %}
      </div>
      <!-- .container end-->
    </header>
    <!-- header end-->
    <div class="triangle_reverse_container">
      <svg version="1.1" viewBox="0 0 770 63" class="triangle_reverse">
        <path d="M 769.0766,61.53043 0.5,61.629255 0.55974186,0.520315 C 0.23440393,30.221569 359.00793,14.210549 384.80814,45.029889 412.33508,14.210549 769.38188,30.328689 769.04308,0.5 z"></path>
      </svg>
    </div>
    <div class="wrapper">
      <section class="main_container">
        <header>
          <h1>{{ page.theme-desc-head }}</h1>
          <h2>{{ page.theme-desc }}</h2>
        </header>
        <div class="container">
          <div class="btns"><span><a href="{{ page.theme-demo }}" class="btn">Demopage</a></span><span><a href="{{ page.theme-source }}" class="btn">Source</a></span><span><a href="{{ page.theme-docs }}" class="btn">Docs &amp; Tuts</a></span></div>
          <article>
            <div class="meta"><span class="date">{% include date.html %}</span>&nbsp;&middot;&nbsp;<span class="cat">category: {{ page.category }}</span>{% if page.tags %}
              &nbsp;&middot;&nbsp;<span class="tags">
                tags:
                {% for tag in page.tags %} <span>{{ tag }}</span> {% endfor %}</span>{% endif %}
            </div>
            <div class="content">{{ content }}{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
    {% assign  document = site[the_collection] | sort: "date" | reversed | where:"lang", page.lang %}
{% endif %}

{% for links in document %}
    {% if links.title == page.title %}
        {% unless forloop.first %}
            {% assign prevurl = prev.url %}
            {% assign prevtitle = prev.title %}
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = document[forloop.index] %}
            {% assign nexturl = next.url %}
            {% assign nexttitle = next.title %}
        {% endunless %}
    {% endif %}
    {% assign prev = links %}
{% endfor %}
                        
{% if prevurl or nexturl %}
    <div class="pagination">
        {% if prevurl %}<a href="{{prevurl}}" class="prev"><i class="fa fa-angle-left"></i> {{ prevtitle}}</a>{% endif %}                    
        {% if nexturl %}<a href="{{nexturl}}" class="next">{{nexttitle}} <i class="fa fa-angle-right"></i></a>{% endif %}
    </div>
{% endif %}
            </div>
          </article>
          <!-- article end-->
        </div>
        <!-- .container end-->
      </section>
      <!-- section end-->
    </div>
    <!-- .wrapper end-->
    <footer>
      <div class="foot">
        <div class="container">
          <div class="left"><span class="copyright">&copy; by {{ site.name }}</span>&nbsp;&middot;&nbsp;<span class="year">2015</span></div>
          <div class="right"><a href="https://github.com/mynimi"> <i class="fa fa-github"></i></a><a href="http://codepen.io/mynimi/"><i class="fa fa-codepen"></i></a>&nbsp;<span class="backtotop">back to top</span>
          </div>
        </div>
        <!-- .container end-->
      </div>
      <!-- .foot end-->
    </footer>
    <!-- footer end-->
    <script src="{{ base }}/js/build/main.min.js"></script><!-- add google analytics or other tracking code here -->
    <script src="/js/build/main.min.js"></script>
  </body>
  <!-- body end-->
</html>
<!-- html end-->